:root {
    --primary-text-color: white;
    --secondary-text-color: #b0b0b0;
    --primary-backgorund-color: #141414;
    --secondary-background-color: #1f1f1f;
    --primary-font-style: cursive;
    --base-line-height: 1.6;
    --border-color: solid white;
    --shadow-color: #0a0a0a;
    --text-gap: 6rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.3em;
    --font-size-xl: 1.8em;
    --font-size-xxl: 2.5em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    font-family: var(--primary-font-style);
    line-height: var(--base-line-height);
    background: var(--primary-backgorund-color);
    color: var(--primary-text-color);
}

header {
    background-color: var(--secondary-background-color);
    text-align: center;
    padding: 10rem 1rem;
}

.profile-img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 3px var(--border-color);
    object-fit: cover;
    margin-bottom: 1rem;
}

.subtitle {
    color: var(--secondary-text-color);
}

a {
    color: var(--primary-text-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-text-color);
}

nav {
    background-color: var(--secondary-background-color);
    padding: 15px 60px 30px 60px;
    position: sticky;
    top: 0;
}

.navigation-links {
    display: flex;
    justify-content: center;
    gap: var(--text-gap);
    flex-wrap: wrap;
    list-style: none;
}

.navigation-links a {
    color: var(--primary-text-color);
    padding: 10px;
    position: relative;
    text-transform: uppercase;
}

.navigation-links a:hover {
    color: var(--secondary-text-color);
}

main {
    padding: 3rem 5rem;
}

section {
    margin-bottom: 125px;
}

#bio {
    padding-top: 100px;
}

.list-of-skills {
    display: flex;
    flex-wrap: wrap;
    gap: var(--text-gap);
    list-style: none;
}

.list-of-skills li {
    background-color: var(--secondary-background-color);
    padding: 15px;
    margin-top: 15px;
    box-shadow: 1px 3px var(--shadow-color);
    transition: all 0.3s ease;
}

.list-of-skills li:hover {
    background-color: #333333;
    transform: translateY(-5px);
}

.project-template {

}

.project-box {

}

.project-box:hover {

}

footer {

}
