:root {
    --padding-size-sm: 0.5rem;
    --padding-size-m: 1rem;
    --padding-size-l: 1.5rem;
    --rounded-corners: 10px;
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #000000;
    --circle-button: 100%;
    --background-color-other-buttons: #b6b6b6;
    --background-color-number-buttons: #333333;
    --background-color-operator-buttons: #Ffae42;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    font-size: 1rem;
    box-sizing: content-box;
}

.calculator-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: #000000;
    padding: var(--padding-size-sm);
    border-radius: var(--rounded-corners);
}

input[type=text] {
    height: 60px;
    margin-top: 30px;
    background: #000000;
    border: none;
    outline: none;
    color: var(--primary-text-color);
    padding: var(--padding-size-sm);
    text-align: right;
    box-sizing: border-box;
}

button {
    background-color: var(--background-color-other-buttons);
    padding: var(--padding-size-m);
    border-radius: var(--circle-button);
    margin: 3px;
    border: none;
    transition-duration: 0.4s;
}

.number {
    background-color: var(--background-color-number-buttons);
    padding: var(--padding-size-m) 20px var(--padding-size-m) 20px;
    color: var(--primary-text-color);
}

.number:hover {
    background-color: #262626;
}

.operator {
    background-color: var(--background-color-operator-buttons);
    padding: var(--padding-size-m) 20px var(--padding-size-m) 20px;
    color: var(--primary-text-color);
}

.operator:hover {
    background-color: #ffa329;
}

.other:hover {
    background-color: #989898;
}

#percentage {
    padding: var(--padding-size-m) 20px var(--padding-size-m) 20px;

}

.second-row, .third-row, .fourth-row, .fifth-row {
    margin-left: 3px;
    margin-top: 3px;
}

#eight, #five, #two {
    margin-left: 8px;
}

#nine, #six, #three {
    margin-left: 10px;
}

#times, #minus {
    margin-left: 6px;
}

#zero {
    width: 70px;
    border-radius: 30px;
}

#period {
    margin-left: 13px;
}