:root {
    --padding-size-sm: 0.5rem;
    --padding-size-m: 1rem;
    --padding-size-l: 1.5rem;
    --rounded-corners: 10px;
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #000000;
    --circle-button: 100%;
    --background-color-other-buttons: #b6b6b6;
    --background-color-number-buttons: #333333;
    --background-color-operator-buttons: #Ffae42;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
}

.calculator-container {
    background-color: #000000;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: minmax(50px, auto) repeat(5, 70px);
    gap: 25px;
}

.display {
    background-color: black;
    color: var(--primary-text-color);
    grid-column: 1 / -1;
    text-align: right;
    padding: var(--padding-size-sm);
    word-wrap: break-word;
    word-break: break-all;
    font-size: 35px;
}

button {
    outline: none;
    border:none;
    background-color: var(--background-color-other-buttons);
    border-radius: var(--circle-button);
    font-size: 25px;
}

button:hover {
    background-color: #98989898;
}

#zero {
    padding: 15px;
    grid-column: span 2;
    border-radius: 50px;
}

.number {
    background-color: var(--background-color-number-buttons);
    padding: var(--padding-size-m) 20px var(--padding-size-m) 20px;
    color: var(--primary-text-color);
    font-size: 25px;
}

.number:hover {
    background-color: #262626;
}

.operator {
    background-color: var(--background-color-operator-buttons);
    padding: var(--padding-size-m) 20px var(--padding-size-m) 20px;
    color: var(--primary-text-color);
    font-size: 30px;
}

.operator:hover {
    background-color: #ffa329;
}